* {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: white;
  margin: 0;
  background-image: url("../images/heartBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;
  display: block;
  margin: 0;
}

/* Typography */

h1,
p,
form {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

.header-subtitle,
.header-filler {
  font-size: 1.25rem;
}

form {
  font-size: 1.5rem;
}

.input-text,
.submit-button {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
}

select {
  font-size: 1.25rem;
  padding: 0.5em;
  border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.3em;
  width: 1.3em;
}

select:required:invalid {
  color: #808080;
}

option {
  color: black;
}

::placeholder {
  color: #808080;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2em 0;
}

.header-title {
  margin: 0.25em 0;
}

.header-filler {
  visibility: hidden;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(243, 19, 86, 0.8);
  max-width: 700px;
  padding: 2em;
  border-radius: 10px;
}

.form-option-title {
  margin-bottom: 0.5em;
}

.form-option {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5em;
}

.form-option:last-child {
  margin-bottom: 0;
}

form p {
  margin-bottom: 0.5em;
}

.form-selection {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.form-selection:last-child {
  margin-bottom: 0;
}

.form-selection-label {
  margin-left: 0.5em;
}

option[value=""][disabled] {
  display: none;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 150px;
}

.submit-button {
  background-color: rgb(0, 89, 255);
  color: white;
  cursor: pointer;
  border: 0;
}

.submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}

.submit-button:active {
  background-color: pink;
  transition-duration: 0s;
}
